<div class="cstm-auth-container">
    <div class="cstm-auth-pic cstm-auth-pic-login" fxHide fxShow.gt-xs fxFlex="50%"></div>
    <div class="cstm-auth-form" fxFlex="50%" fxFlex.lt-sm="100%">
      <p>honours</p>
      <h3>Not a member yet? <a [routerLink]="['/register']">Register now</a></h3>
      <form [formGroup]=loginForm>
        <mat-form-field>
          <input matInput placeholder="username" type="text" formControlName="username">
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            placeholder="password"
            [type]="showPassword ? 'text' : 'password'"
            formControlName="password"
          >
          <button
            mat-icon-button
            matSuffix
            (click)="showPassword = !showPassword"
            type="button"
          >
            <mat-icon>{{ showPassword ? 'visibility_on' : 'visibility_off' }}</mat-icon>
          </button>
        </mat-form-field>
        <button type="submit" mat-raised-button color="primary">
          <mat-progress-spinner mode="indeterminate" diameter="25" *ngIf="sendingRequest"></mat-progress-spinner>
          <span>login now</span>
        </button>
      </form>
    </div>
  </div>
