mat-card {
  width: 300px;
  padding: 0px;
  margin-right: 0px;
  margin: 16px;
  border-radius: 0px;
  box-shadow: none !important;
  & > .cstm-img-div {
    & > img {
      width: 100% !important;
      height: 168px;
      object-fit: cover;
    }
  }
}

.cstm-pic-category {
  padding: 0px 6%;
  & > .cstm-pic-category-info {
    padding: 20px 0px;
  }
}

.cstm-site-info {
  padding: 12px 12px 0px 12px;
  margin-top: -5px;
  & > h4 {
    font-weight: lighter;
    margin: 8px 0px;
  }
  & > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    p {
      margin: 8px 0px;
    }
  }
}

.cstm-site-footer {
  padding: 4px 12px 12px 12px;
  display: flex;
  align-items: center;
  & > div {
    & > img {
      height: 40px;
      width: 40px;
      object-fit: cover;
      border-radius: 50%;
    }
    & > p {
      font-weight: lighter;
      margin-left: 8px;
    }
  }
}
