<div class="cstm-pic-category">
  <div class="cstm-pic-category-info">Recent Submissions</div>
  <div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutGap="4px" fxLayoutAlign="center">
    <ng-container *ngFor="let project of projects">
      <mat-card>
        <div class="cstm-img-div">
          <img class="cstm-img" src="{{ apiUrl + project.landing_page_image }}" alt="Photo of a Shiba Inu">
        </div>
        <div class="cstm-site-info">
          <h4>{{ project.title }}</h4>
          <div>
            <p>From somewhere</p>
            <p>{{ project.date_added | date }}</p>
          </div>
        </div>
        <div class="cstm-site-footer">
          <div>
            <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="">
          </div>
          <div>
            <p class="mat-body">by {{ project.user.username }}</p>
          </div>
        </div>
      </mat-card>
    </ng-container>
  </div>
</div>

