
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$honours-face-primary: mat-palette($mat-indigo);
$honours-face-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$honours-face-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$honours-face-theme: mat-light-theme($honours-face-primary, $honours-face-accent, $honours-face-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($honours-face-theme);

$primary-color: mat-color($mat-indigo);
$accent-color: mat-color($mat-indigo);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.cstm-auth-container {
  display: flex;
  flex-direction: row;
  height: 100%;
  .cstm-auth-pic, .cstm-auth-form {
    width: 50%;
    height: 100%;
    padding: 35px;
    & > p, h3 {
      text-align: center;
      margin: 6px 0px;
    }
    & > h3 {
      margin-top: 16px;
      font-weight: lighter;
      & > a, & > a:active {
        color: $primary-color;
        text-decoration: none;
        font-weight: normal;
      }
    }
  }
  .cstm-auth-form {
    & > form {
      margin-top: 24px;
      width: 100%;
      display: flex;
      flex-direction: column;
      & > button[type="submit"] {
        height: 60px;
        box-shadow: none;
        border-radius: 0;
        margin-top: 16px;
        text-transform: uppercase;
        & > span {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          & > span {
            margin-left: 8px;
          }
        }
      }
    }
  }
}
